body,
html {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #000000;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
thead {
  background: #0d1b2a;
  color: #ffffff;
}
td {
  border: 1px solid #e1e1e1;
  padding: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
th {
  border: 1px solid #e1e1e1;
  padding: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.input-container {
  font-size: 30px;
  color: black;
  border: cyan;
  border-width: 10px;
  margin: 10px;
}

.input-container a {
  display: block;
  margin-bottom: 10px;
}

.input-container input {
  font-size: 16px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

#add {
  background-color: #778da9;
  color: white;
  width: 130px;
  height: 30px;
  border-radius: 10px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.id-arrow-up,
.price-arrow-up,
.sales-arrow-up {
  display: flex;
  align-items: flex-end;
}

.id-arrow-down,
.price-arrow-down,
.sales-arrow-down {
  display: flex;
  align-items: flex-start;
}
